@color0:#091540; //alt text
@color1:#3d206d; //background
@color2:#c9c0ed; //accent color
@color3:#ffffff; //light color
@color4:#000000; //dark color
@font-size:1.25em;

@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto|Sedgwick+Ave+Display|Rock+Salt&display=swap');
//Sedgwick Title Fonts, Roboto Main Text, Oswald Subtitles, Rock Salt "cursive"

html, body{
    height: 100vh;
}

body{
    background-color: @color3;
    color: @color4;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 0;
    width: 100%;
    display:grid;
    grid-template-columns: 0.2fr 3fr;
    grid-template-rows: 0.25fr 2.8fr 2%;
    grid-template-areas: "sidebar navigation" "sidebar main" "footer footer";
}

.sidebar { 
    grid-area: sidebar; 
    #contactlinks a, a:hover, a:visited, a:active{
        text-decoration: none;
        color:@color3;  
    }
}

.navigation {
    grid-area: navigation; 
    color:@color2;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1em;
    align-items: center;
    text-align: center;
    border-bottom: 4px solid black;
    background: @color2;
}

.nav1 {
  grid-column: 1;
}

.nav2 {
  grid-column: 2;
}

.logo {
  grid-column: 3;
  display: flex;
  place-content: center;
  align-items: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 10vh;
}

.nav3 {
  grid-column: 4;
}

.nav4 {
  grid-column: 5;
}

.navLinks {
  font-family: 'Ubuntu', sans-serif;
  font-size: @font-size;
  text-transform: uppercase;
  text-decoration: none;
  color: @color4;
}

.navLinks:hover {
  color: @color3;
  border-left: 1px solid @color1;
  border-right: 1px solid @color1;
  padding: 1em 1em;
}

.main { 
    grid-area: main; 
    background-color: @color3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: center;
    align-items: center;

    
}

#aboutme{
    grid-area: main;
    margin: 20px;
    display: flex;    
    position: relative;
    #about{
        width: 80%;
        height: 80%;
        margin:  auto;
       img{
            float: left;
            margin: 15px;
        }
        p{
            font-size: @font-size;
        }
    }
    button{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 25%;
        margin: auto;
    }
    iframe{
       width: 100%;
       height: 100vh;
       
    }
}
//style menu links as buttons for image sorting
.button li {
    float: left;
    list-style: none;
    text-align: center;
    background-color: #091540;
    margin-right: auto;
    width: 100px;
    height: 50px;
    font-size: @font-size; 

    a {
        text-decoration: none;
        color: #FFFFFF;
        display: block;
        margin: auto;
        h3{
            font-size: @font-size - 0.5em;
        }

        :hover {
            text-decoration: none;
            color: #000000;
            background-color: #33B5E5;
        }
    }
}

#imgsort{
    display: grid;
    grid-template-rows: 0.1fr 1fr;
    overflow: auto;
    #menu{
        grid-row: 1;
        display: grid;
        grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 1fr;
        grid-template-rows: 1fr;        
        grid-gap: 10px;
        grid-template-areas: ". all websites design javascript office .";
        .all{
            grid-area: all;            
        }
        .websites{
            grid-area: websites;
        }
        .design{
            grid-area: design;
        }
        .javascript{
            grid-area: javascript;
        }
        .office{
            grid-area: office;
        }
    }
    #pages{
        grid-row: 2;
        margin: auto;
        div [class*="all"]{
            display: flex;
            flex-wrap: wrap;   
            text-align: center;
            justify-content: center;
            figure{
                border: 2px inset @color2;
                background-color: lighten(@color0, 80%);
                width: 350px;
                //height: 300px;            
                img{
                    width: 325px;
                    //height: 250px;
                }
            }
        }
    }
}
#contactforminfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 75px;
    grid-template-rows: 1fr;
    grid-template-areas: "contactform pricing";
    margin: auto;
    #contactform{
        grid-area: contactform;
        height: 80%;
        #logo{    
            width: 300px;
            display: block;
            margin: 0 auto;
        }
        .content{
            width: 75%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 30% 5% auto;
            label {
                text-align: right;
                grid-column: 1;
            }
        #submit{
            grid-column: 1;
        }

        input, #comments{
            grid-column: 3;
        }
        #comments{
            width: 100%;
            height: 250px;
        }
        #submit, #reset{
            width: 100px;
            display: block;
            margin: 0 auto;            
        }
    }
}
    #pricing{
        grid-area: pricing;
        height: 80%;
        margin: auto;
        font-size: @font-size * 1.5;
        .pricetable{
            margin: auto;
            border: 1px outset;
            caption{
                background-color: @color2; 
            }
        }        
    }
}

.footer, .footer p{ grid-area: footer; 
    background-color: @color4;
    font-size: @font-size - 0.25em;
    color: white;
    text-align: center;
    margin: 0;
    }

.sidebar{
    background-color: @color1;
    color:@color3;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.8fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr;     
}

#name{
    grid-row-start: 1;
    font-family: 'Rock Salt', cursive;
    font-size: @font-size + 0.25em;
    margin: 0;
    a{
        color: @color3;
        text-decoration: none;
        :hover{
            color: @color4;
        }
        :visited{
            color: @color0;
        }
        :active{
            color: @color0;
        }
    }
}
#contactinfo{
    grid-row-start: 2;
}

#skills{
    grid-row-start: 3;
    font-family: 'sedgwick';
    font-size: @font-size * 2;
    text-decoration: underline;    
}

.skillset1{
    grid-row-start: 4;
}
.skillset2{
    grid-row-start: 5;
}
.skillset3{
    grid-row-start: 6;
}
.skillset4{
    grid-row-start: 7;
}
.skillset5{
    grid-row-start: 8;
}
.skillset6{
    grid-row-start: 9;
}
.skillset7{
    grid-row-start: 10;
}
.skillset8{
    grid-row-start: 11;
}
div[class*="skillset"]{
    font-family: 'Oswald';
    h3{
        font-size: @font-size - .1em;
        margin: 0;}
    }
    #content{
        border: 2px solid @color2;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        margin: auto 15px;
    }

.skills{
    border: 5px inset @color2;
    border-radius: 25px;
    -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 2px 2px 3px 2px rgba(0,0,0,0); 
    box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 2px 2px 3px 2px rgba(0,0,0,0);
    width: 65%;
    height: 75%;
    padding:20px;
    text-align: center;
    display: grid;
    grid-template-rows: 0.5fr 0.3fr 1fr;
    grid-template-columns: 1.5fr;    
    i.fas{
        color: @color1;
        display: flex;
        place-content: center;
        align-items: center;
    }
    h3{
        font-family: 'Oswald', sans-serif;
        font-size: @font-size + 0.25em;
    }
    ul{
        list-style: none;
        padding: unset;
    }
}

#logo{
    width: 75%;
}

.hide{
    display: none;
}

.samples{
    grid-area: main;
    text-align: center;
    .sampleimg{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    figure{
        width: 300px;
        background-color: @color0;
        color: @color3;
        height: 250px;
        border: 2px inset black;
        margin: 50px;
        padding: 25px;            
            img{
                width: 275px;
                height: 90%;
                transition: all .2s ease-in-out;
                &:hover{
                    transform: scale(3);
                }
            }
        }
    }
}

.samples{
    grid-area: main;
    text-align: center;
    .logoimg{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .logoimages{
            display:table;
            border: 2px inset ;
            width: 80%;
            margin: 20px auto 0;
        }        
    figure{
        width: 300px;
        float: left;
        background-color: @color0;
        color: @color3;        
        border: 2px inset black;        
        padding: 15px;            
        img{
            width: 275px;
            height: 90%;
            transition: all .2s ease-in-out;
            &:hover{                    
                transform: scale(3);
            }
        }           
    }
        p{
            display:table-cell;
            vertical-align: middle;
            text-align: center;
        }
    }
}

@media only screen and (max-width: 600px) {
    body{
        display: block;
    }
    .sidebar{
        display: none;
    }
    .navigation{
        grid-template-rows: repeat(4, 3fr);
        grid-template-columns: unset;
        .logo{
            display:none;
        }
        
        .nav1{
            grid-row: 1;
            grid-column: unset;
        }
        .nav2{
            grid-row: 2;
            grid-column: unset;
        }
        .nav3{
            grid-row: 3;
            grid-column: unset;
        }
        .nav4{
            grid-row: 4;
            grid-column: unset;
        }
    }

    .main{
        grid-template-columns: none;
        width: 100%;
        
        .skills{
            -webkit-box-shadow: unset;
            box-shadow: unset;

        }
    }

    #imgsort{
        display: flex;
        flex-wrap: wrap;

        #menu{
            display: flex;
            flex-wrap: wrap;

            .button li{
                margin: 5px;
            }
        }
    }

}