@color0:#091540; //alt text
@color1:#3d206d; //background
@color2:#c9c0ed; //accent color
@color3:#ffffff; //light color
@color4:#000000; //dark color
@font-size:1.25em;

@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto|Sedgwick+Ave+Display&display=swap');
//Sedgwick Title Fonts, Roboto Main Text, Oswald Subtitles

body{
    background-color: @color3;
    color: @color4;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 0;
    position:relative;
    overflow: hidden;
    padding-left: 125px!important;
}

#main{
    padding: 15px;
}

#sidebar{
    background-color: @color1;
    color:@color3;
    width: 125px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    box-shadow:15px 0 10px rgba(201,192,237,1);
}

#content{
    border: 2px solid @color2;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: auto 15px;
}

.skills{
    border: 2px  solid @color2;
    width: 28%;
    padding:20px;
    margin:15px auto 0;
    text-align: center;
}