@color0:#091540; //alt text
@color1:#3d206d; //background
@color2:#c9c0ed; //accent color
@color3:#ffffff; //light color
@color4:#000000; //dark color
@font-size:1.25em;

@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto|Sedgwick+Ave+Display|Rock+Salt&display=swap');
//Sedgwick Title Fonts, Roboto Main Text, Oswald Subtitles, Rock Salt "cursive"

body{
    background-color: @color3;
    color: @color4;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 0;
    width: 100%;
    display:grid;
    grid-template-columns: 0.1fr 3fr;
    grid-template-rows: 0.2fr 2.8fr 2%;
    grid-template-areas: "sidebar navigation" "sidebar main" "footer footer";
}

.sidebar { 
    grid-area: sidebar; 
}

.navigation {
     grid-area: navigation; 
background-color: @color0;
color:white;
}

.main { 
    grid-area: main; 
background-color: @color2;
}

.footer, .footer p{ grid-area: footer; 
background-color: @color4;
font-size: 1em;
color: white;
text-align: center;
margin: 0;
}



#main{
    padding: 15px;
}

.sidebar{
    background-color: @color1;
    color:@color3;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.2fr 0.3fr 0.8fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr;     
}
#logo{
    grid-row-start: 1;
}
#name{
    grid-row-start: 2;
    font-family: 'Rock Salt', cursive;
    font-size: 1.5em;
    margin: 0;
}
#contactinfo{
    grid-row-start: 3;
}

#skills{
    grid-row-start: 4;
    font-family: 'sedgwick';
    font-size: 2.5em;
    text-decoration: underline;
}

.skillset1{
    grid-row-start: 5;
}
.skillset2{
    grid-row-start: 6;
}
.skillset3{
    grid-row-start: 7;
}
.skillset4{
    grid-row-start: 8;
}
.skillset5{
    grid-row-start: 9;
}
.skillset6{
    grid-row-start: 10;
}
.skillset7{
    grid-row-start: 11;
}
.skillset8{
    grid-row-start: 12;
}
div[class*="skillset"]{
    font-family: 'Oswald';
    h3{
    font-size: 1.1em;
    margin: 0;}
}

#content{
    border: 2px solid @color2;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: auto 15px;
}

.skills{
    border: 2px  solid @color2;
    width: 28%;
    padding:20px;
    margin:15px auto 0;
    text-align: center;
}

#logo{
    width: 250px;
}